<h1><%= @merchant.name %>'s Discounts</h1>

<h4>Upcoming Holidays:</h4>
<%= render partial: "upcoming_holidays", locals: {holidays: @holidayservices, merchant: @merchant } %>


<h2>Discounts:</h2>
<% @merchant.discounts.each do |discount| %>
  <section id='discount-<%= discount.id %>'>
    <p>Discount ID: <%= discount.id %></p><br>
    <%= "#{discount.percent_discount}% off when you buy #{discount.quantity_threshold} items." %><br>
    <%= link_to "Discount Info", merchant_discount_path(@merchant, discount) %><br>

    <% if discount.pending_invoices.empty?%>
    <%= link_to "Delete Discount", merchant_discount_path(@merchant, discount), method: :delete %><br>
      <% else %>
    <% end %>

  </section>
<% end %>

<%= button_to "Create New Discount", new_merchant_discount_path(@merchant), method: :get %>
