<h1><%= @merchant.name %>'s Discount #<%= @discount.id %></h1>
<h2>Discount Percent: <%= @discount.percent_discount %>%</h2>
<h2>Quantity Threshold: <%= @discount.quantity_threshold %> Items</h2><br>

<%= link_to "Edit Discount", edit_merchant_discount_path(@merchant, @discount)%>
